Sphinx==6.2.1
sphinxcontrib-youtube==1.4.1
myst-parser==2.0.0
pydata-sphinx-theme==0.14.0
pandas>=2.1.0
numpy>=1.26.0
websockets>=11.0.3
requests>=2.31.0
python-dotenv>=1.0.0
cachetools>=5.3.2
httpx==0.25.1
